body {
    background-color: rgb(128, 177, 177);
}

.Bienvenue {
    font-family: "Arial";
    font-size : 30px;
    text-decoration: underline;
    
    
}

.Blanc {
    width: 300x;
    height: 300px;
    border:2px;
    margin-bottom: 50px;
    margin-left: 100px;
}



.Copyrights {
    margin-top: 48px;
}

.Clicker {
   
    margin-left:500px;
}

.BouteilleNike{
    margin-left: 500px;
}