body {

    background-color: rgb(128, 177, 177);

}

.DesNike{


    color: white;

    font-size: 20px;
}

.DesNike1{


    color: white;

    font-size: 20px;
    margin-left: 100px;
}




.DescriptionCat1 {


margin-left: 450px;


}

.flex-container1{

display: flex;
flex-direction: row;
justify-content: space-between;

}

.DesAdidas{

    color: white;

    font-size: 20px;


}

.DesAdidas1 {

    color: white;

    font-size: 20px;
    margin-left: 100px;

}

.TextAdjust1 {

color: white;
font-size: 20px;
margin-right: 500px;

}

.flex-container2 {

padding-left: 502px;


}
